<table>
    <tr>
        <th>TIME</th>
        <th>MONDAY</th>
        <th>TUESDAY</th>
        <th>WEDNESDAY</th>
        <th>THURSDAY</th>
        <th>FRIDAY</th>
        <th>SATURDAY</th>
        <th>SUNDAY</th>
{% for row in rows %}
    <tr>
        <td>{{ row.label }}</td>
    {% for e in row.queryset %}

        <td>{{ e.text }}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
<hr>
<table>
    <tr>
        <th></th>
        {# column headers #}
        <th>MONDAY</th>
        <th>TUESDAY</th>
        <th>WEDNESDAY</th>
        <th>THURSDAY</th>
        <th>FRIDAY</th>
        <th>SATURDAY</th>
        <th>SUNDAY</th>
    <tr>
        <th>time</th>
        {% for block in by_days.values %}
            {% if block.text %}
                <td>
                    <a href="{% url 'block_update' object.id block.id %}">{{ block.text }}</a>
                </td>
            {% else %}
                    <td></td>
            {% endif %}
        {% endfor %}
    </tr>
</table>