{% comment %} 
s.0
	<time range>
	0.field
	0.value
	0.count
	0.group
	0.group.0
		<day>
		0.field
		0.value
		0.count
		0.group
		0.group.0
			<event>

time range -> day -> event

rules:
row first cell: s.0.value # time range
row second cell:
if s.0.group.0.value == 1 # day
for x in range(s.0.group.0.count) #
        <new cell> s.0.group.0.group.text # event text
{% endcomment %}
{% load index %}
<table>
    <tr>
        <th>TIME</th>
        <th colspan={{ matrix.header_rowspans.Monday }}>MONDAY</th>
        <th colspan={{ matrix.header_rowspans.Tuesday }}>TUESDAY</th>
        <th colspan={{ matrix.header_rowspans.Wednesday }}>WEDNESDAY</th>
        <th colspan={{ matrix.header_rowspans.Thursday }}>THURSDAY</th>
        <th colspan={{ matrix.header_rowspans.Friday }}>FRIDAY</th>
        <th colspan={{ matrix.header_rowspans.Saturday }}>SATURDAY</th>
        <th colspan={{ matrix.header_rowspans.Sunday }}>SUNDAY</th>
    </tr>
{% for row in row_labels %}
    <tr>
        <td>{{ row.label }}</td>
        {% include 'core/table_cell.html' with day_key='Monday' row_index=forloop.counter0 timetable_id=object.id %}
        {% include 'core/table_cell.html' with day_key='Tuesday' row_index=forloop.counter0 timetable_id=object.id %}
        {% include 'core/table_cell.html' with day_key='Wednesday' row_index=forloop.counter0 timetable_id=object.id %}
        {% include 'core/table_cell.html' with day_key='Thursday' row_index=forloop.counter0 timetable_id=object.id %}
        {% include 'core/table_cell.html' with day_key='Friday' row_index=forloop.counter0 timetable_id=object.id %}
        {% include 'core/table_cell.html' with day_key='Saturday' row_index=forloop.counter0 timetable_id=object.id %}
        {% include 'core/table_cell.html' with day_key='Sunday' row_index=forloop.counter0 timetable_id=object.id %}
    </tr>
{% endfor %}
</table>
