{% comment "a" %}
rows is a list of rows
row is a list of cell
cell is tuple of text, rowspan, and classes [ex: is-conflict]
{% endcomment %}
<table>
    <caption>{{ title }}</caption>
    {% for row in rows %}
        <tr>
        {% for cell in row %}
            {% if cell.0 %}
                {% if cell.1 > 1 %}
                    <td rowspan="{{ cell.1 }}">{{ cell.0 }}</td>
                {% else %}
                    <td>{{ cell.0 }}</td>
                {% endif %}
            {% else %}
                    <td></td>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tr>
</table>
<br>
<table>
    <tr>
        <th></th>
        {# column headers #}
        <th>MONDAY</th>
        <th>TUESDAY</th>
        <th>WEDNESDAY</th>
        <th>THURSDAY</th>
        <th>FRIDAY</th>
        <th>SATURDAY</th>
        <th>SUNDAY</th>
    <tr>
        <th>time</th>
        <td>{{ object.block_set.values.0.text }}</td>
        <td>{# if time*tuesday #}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>time</th>
        <td></td>
        <td>tuesday event</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>time</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>time</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>