<!DOCTYPE html>
<!--base template-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}<title>Iskedyul</title>{% endblock %}
    </head>
    <body>
        <div>
            <h1 onclick="location.href='{% url "index" %}'">
                Iskedyul
            </h1>
        </div>
        <div>
            {% block content %}
                This content will be replaced by different html code for each page.
            {% endblock %}
        </div>
    </body>
</html>